*{
  font-family: "Roboto condensed", sans-serif;
}


/* clase principal para ordenar el layaout gird-areas */
.container-grid{
  display: grid;
  grid-template-areas:
  "header header"
  "menu main"
  "footer footer";
   gap: 10px;
}
/* FIN clase principal para ordenar el layaout gird-areas */

body{
  background-color:#e7e7e7 ;
}


/* Inicio del Encabezado */
header{
  grid-area: header;
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25527b;
  color: white;
}
/* Fin del emcabezado */

/* Inicio Menu lateral Iizquierdo */
menu{
  grid-area: menu;
  margin: 0;
  height: 85vh;
  width: 8vw;
}

.categorias{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.categorias a{
  color: black;
  text-decoration: none;
}


.categorias p{
  color: grey;
  display: inline;
}

/* Fin del lateral Iziquierdo */


/* Menu principal card */
main{
  grid-area: main;
  height: 55vw;
  width: 87vw;
}


.container-card{
  margin: 25px;
  display: grid;
  /* con esta propiedad puedo hacer responsive la grilla */
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px,1fr));
/* con esta propiedad puedo hacer responsive la grilla */
  justify-content: start;
  height: 100%;
  width: 90%;
  column-gap: 70px;
  margin-left: 10px;
}

.box{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 450px;
  width: 450px;
  background-color: white;
  align-items: center;
}

.box h4{
  margin-bottom: 2px;
  font-size: 1.5rem;
}

.box p{
  color: grey;
}

.box-img{
  display: flex;
  height: 612px;
  width: 408px;
  margin: 10px;
  cursor: pointer;
}

.box img{
  width: 100%;
  height: 100%;
}

.box button{
  width: 100%;
  cursor: pointer;
  height: 30%;
  border-style: none;
  background-color: #25527b;
  color: white;
  transition: all 300ms;
}

.box button:hover{
  background-color: green;
}

/* Fin del menu card */

/* Inicio del footer */
footer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  grid-area: footer;
  width: 100%;
  height: 2.6vw;
  background-color: #25527b;
  position: fixed;
  bottom: 0;
}

/* Fin del footer */